Repository ITCompetition-Mediger/Mediger-frontend, pull requests merged in 2022-10, with the labels that each got.

#94 Header 로고 수정
  src/App.js
  src/components/Header.js
  src/pages/Splash.js
  src/pages/login/LoginPage.js
Labels: 🌸UI, 🖥Responsive Web, 🔨Task, ♻️Refactor

#95 의약품 검색 페이지에 API 적용
  src/components/SearchBar.js
  src/pages/pillSearch/PillContentList.js
  src/pages/pillSearch/PillSearchList.js
  src/pages/pillSearch/PillSearchPage.js
  src/pages/pillSearch/PillSearchPlusPage.js
Labels: 🌸UI, 🔨Task, ⚒Epic, ♻️Refactor, ✨Feature, 🖥API

#93 지도 페이지 API 수정
  public/index.html
  src/pages/map/PharmacyMapAPI.js
Labels: 🔨Task, ♻️Refactor, 🖥API

#96 Develop브랜치에서 Main브랜치로 병합[Netlify]
  public/index.html
  src/App.js
  src/components/Header.js
  src/components/SearchBar.js
  src/pages/Splash.js
  src/pages/login/LoginPage.js
  src/pages/map/PharmacyMapAPI.js
  src/pages/pillSearch/PillContentList.js
  src/pages/pillSearch/PillSearchList.js
  src/pages/pillSearch/PillSearchPage.js
  src/pages/pillSearch/PillSearchPlusPage.js
Labels: ⚙️Setting, ♻️Refactor, 🖥API

#97 지도 페이지 API 수정
  src/pages/map/HospitalMapAPI.js
  src/pages/map/PharmacyList.js
  src/pages/map/PharmacyListPage.js
  src/pages/map/PharmacyMapAPI.js
  src/pages/pillSearch/PillSearchPage.js
  src/pages/pillSearch/PillSearchPlusPage.js
Labels: ⚒Epic, ♻️Refactor, ✨Feature, 🖥API

#99 Develop브랜치에서 Main브랜치로 병합[Netlify]
  src/pages/map/HospitalMapAPI.js
  src/pages/map/PharmacyList.js
  src/pages/map/PharmacyListPage.js
  src/pages/map/PharmacyMapAPI.js
  src/pages/pillSearch/PillSearchPage.js
  src/pages/pillSearch/PillSearchPlusPage.js
Labels: ⚙️Setting, 😚Distribution, 🖥API

#143 불필요한 코드 수정
  README.md
  src/components/Header.js
  src/components/Medicine.js
  src/components/Mediger.js
  src/components/MedigerListWidget.js
  src/components/NavBar.js
  src/components/SearchBar.js
  src/components/StyledModal.js
  src/pages/login/GoogleLoginButton.js
  src/pages/login/KakaoLoginButton.js
  src/pages/login/LoginButton.js
  src/pages/login/LoginHeader.js
  src/pages/login/NaverLoginButton.js
  src/pages/login/NewLogin.js
  src/pages/map/HospitalListPage.js
  src/pages/map/PharmacyListPage.js
Labels: ♻️Refactor
